# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.flattened-pom.xml

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig
dubbo-all/.flattened-pom.xml
dubbo-bom/.flattened-pom.xml
dubbo-cluster/.flattened-pom.xml
dubbo-common/.flattened-pom.xml
dubbo-compatible/.flattened-pom.xml
dubbo-config/.flattened-pom.xml
dubbo-config/dubbo-config-api/.flattened-pom.xml
dubbo-config/dubbo-config-spring/.flattened-pom.xml
dubbo-configcenter/.flattened-pom.xml
dubbo-configcenter/dubbo-configcenter-api/.flattened-pom.xml
dubbo-configcenter/dubbo-configcenter-apollo/.flattened-pom.xml
dubbo-configcenter/dubbo-configcenter-consul/.flattened-pom.xml
dubbo-configcenter/dubbo-configcenter-etcd/.flattened-pom.xml
dubbo-configcenter/dubbo-configcenter-zookeeper/.flattened-pom.xml
dubbo-container/.flattened-pom.xml
dubbo-container/dubbo-container-api/.flattened-pom.xml
dubbo-container/dubbo-container-log4j/.flattened-pom.xml
dubbo-container/dubbo-container-logback/.flattened-pom.xml
dubbo-container/dubbo-container-spring/.flattened-pom.xml
dubbo-demo/.flattened-pom.xml
dubbo-demo/dubbo-demo-annotation/.flattened-pom.xml
dubbo-demo/dubbo-demo-annotation/dubbo-demo-annotation-consumer/.flattened-pom.xml
dubbo-demo/dubbo-demo-annotation/dubbo-demo-annotation-provider/.flattened-pom.xml
dubbo-demo/dubbo-demo-api/.flattened-pom.xml
dubbo-demo/dubbo-demo-api/dubbo-demo-api-consumer/.flattened-pom.xml
dubbo-demo/dubbo-demo-api/dubbo-demo-api-provider/.flattened-pom.xml
dubbo-demo/dubbo-demo-interface/.flattened-pom.xml
dubbo-demo/dubbo-demo-xml/.flattened-pom.xml
dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-consumer/.flattened-pom.xml
dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-provider/.flattened-pom.xml
dubbo-dependencies-bom/.flattened-pom.xml
dubbo-dependencies/.flattened-pom.xml
dubbo-dependencies/dubbo-dependencies-zookeeper/.flattened-pom.xml
dubbo-distribution/.flattened-pom.xml
dubbo-filter/.flattened-pom.xml
dubbo-filter/dubbo-filter-cache/.flattened-pom.xml
dubbo-filter/dubbo-filter-validation/.flattened-pom.xml
dubbo-metadata-report/.flattened-pom.xml
dubbo-metadata-report/dubbo-metadata-definition/.flattened-pom.xml
dubbo-metadata-report/dubbo-metadata-report-api/.flattened-pom.xml
dubbo-metadata-report/dubbo-metadata-report-consul/.flattened-pom.xml
dubbo-metadata-report/dubbo-metadata-report-redis/.flattened-pom.xml
dubbo-metadata-report/dubbo-metadata-report-zookeeper/.flattened-pom.xml
dubbo-monitor/.flattened-pom.xml
dubbo-monitor/dubbo-monitor-api/.flattened-pom.xml
dubbo-monitor/dubbo-monitor-default/.flattened-pom.xml
dubbo-plugin/.flattened-pom.xml
dubbo-plugin/dubbo-qos/.flattened-pom.xml
dubbo-registry/.flattened-pom.xml
dubbo-registry/dubbo-registry-api/.flattened-pom.xml
dubbo-registry/dubbo-registry-consul/.flattened-pom.xml
dubbo-registry/dubbo-registry-default/.flattened-pom.xml
dubbo-registry/dubbo-registry-etcd3/.flattened-pom.xml
dubbo-registry/dubbo-registry-multicast/.flattened-pom.xml
dubbo-registry/dubbo-registry-nacos/.flattened-pom.xml
dubbo-registry/dubbo-registry-redis/.flattened-pom.xml
dubbo-registry/dubbo-registry-zookeeper/.flattened-pom.xml
dubbo-remoting/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-api/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-etcd3/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-grizzly/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-http/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-mina/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-netty/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-netty4/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-p2p/.flattened-pom.xml
dubbo-remoting/dubbo-remoting-zookeeper/.flattened-pom.xml
dubbo-rpc/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-api/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-dubbo/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-hessian/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-http/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-injvm/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-jsonrpc/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-memcached/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-redis/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-rest/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-rmi/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-thrift/.flattened-pom.xml
dubbo-rpc/dubbo-rpc-webservice/.flattened-pom.xml
dubbo-serialization/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-api/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-avro/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-fastjson/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-fst/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-hessian2/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-jdk/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-kryo/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-protostuff/.flattened-pom.xml
dubbo-serialization/dubbo-serialization-test/.flattened-pom.xml
